body {
  background-color: rgb(152, 87, 212);
  color: white;
  width: 100%;
}
section {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}
audio {
  display: none;
}
.focus-body {
  margin-top: 80px;
  font-size: 35px;
}

.focus-body h1 {
  font-size: 50px;
}
.focus-body span {
  font-weight: 900;
  font-size: 30px;
}
.focus-body button {
  color: white;
  background: transparent;
  border-radius: 15px;
  border-color: white;
  padding: 15px 20px;
  margin: 10px;
  font-size: 24px;
}
.icon-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  gap: 20px;
}
